
@font-face {
  font-family: 'Droid Arabic Kufi', serif;
  src: url("http://fonts.googleapis.com/earlyaccess/amiri.css");
}
.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: #010;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}
.toggle-checkbox {
    position: relative;
       display: flex;
    align-items: center;
}
.toggle-checkbox:after,
.toggle-checkbox:before {
    font-family: FontAwesome;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.toggle-checkbox label {
    width: 75px;
    height: 42px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
     -webkit-transform: scale(.4);
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    transform: scale(.4);
    margin-bottom: 0;
}

.toggle-checkbox label:after {
    content: '';
    position: absolute;
    border-radius: 100%;
    left: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    top: 0;
    width: 42px;
    height: 42px;
}

.toggle-checkbox span{
    display: inline-block;
}

.toggle-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle-checkbox input:hover+label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.toggle-checkbox input:checked+label:after {
    left: 35px;
}

.toggle-checkbox input:checked+label {
    background: #4BD865;
}
